parameters:
    level: max
    paths:
        - packages
        - tests
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Attribute class Override does not exist#'
            reportUnmatched: false
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children#'
        -
            message: '#Property .* is never assigned .+ so it can be removed from the property type.#'
            reportUnmatched: false
        -
            message: '#has PHPDoc tag @method for method find(One)?By\(\) parameter#'
            reportUnmatched: false
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
