parameters:
    level: max
    paths:
        - packages
        - tests
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Attribute class Override does not exist#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children#'
            reportUnmatched: false
            paths:
                - packages/domain-event-outbox/src/DependencyInjection/Configuration.php
        -
            identifier: method.nonObject
            paths:
                - packages/domain-event-outbox/src/DependencyInjection/Configuration.php
            reportUnmatched: false
        -
            message: '#Property .* is never assigned .+ so it can be removed from the property type.#'
            reportUnmatched: false

        -
            message: '#has PHPDoc tag @method for method find(One)?By\(\) parameter#'
            reportUnmatched: false
        -
            identifier: property.tooWideBool
            paths:
                - tests/Framework/EventListener/BookEventEventBusListener.php
                - tests/Framework/EventListener/PostEventEventBusListener.php
            reportUnmatched: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
